# IDE
.idea
.vscode

# Composer
vendor
composer.lock

# Cache
writable/cache/*
*.cache
!writable/cache/.gitkeep

# Logs
writable/logs/*
*.log
!writable/logs/.gitkeep

# Tmp
tmp/*
!tmp/.gitkeep
!tmp/README.txt

# Assets
!src/admin/assets/vendor
!src/public/assets/vendor